@model CreatedEvent

<div class="well"> 
    <h3> 
        <strong>@Model.Title</strong>  
    </h3> 
    
       @if(@TempData["ID"]!=null){
            if(@TempData["ID"].ToString()==@Model.ID.ToString()){
                <div class="alert alert-success">You have joined this activity! </div> 
            }
        }
        
    <form id="@Model.ID" asp-action="Join" asp-controller="Home" method="post"> 
        <input type="hidden" asp-for="ID" /> 
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" /> 
        <span class="lead"> 
            Date: @Model.Date.ToString("dd MMM yyyy")
            @if(@Model.Date.ToString("HH")!="00"){
                <text>Time: @Model.Date.ToString("HH:mm")</text>
            }
            <span class="pull-right label label-primary">@Model.Price.ToString("c") </span> 
            <br/>
            Participation: @Model.CountOfParticipation/@Model.Capacities 
            Location: @Model.Location
            <button type="submit" class="btn btn-success btn-sm pull-right"> Book </button>
        </span> 
    </form> 
</div>